* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    background: linear-gradient(to right, #2199dc, #14e4f0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wp-slider {
    width: 600px;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
}

.slides input[type='radio'] {
    display: none;
}

.slides {
    width: 500%;
    display: flex;
}

.active {
    transition: 1s;
}


.navigation {
    position: absolute;
    width: 600px;
    height: 30px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation label {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid white;
    margin: 0px 10px;
}

.navigation label:hover {
    background: aqua;
}

#radio1:checked~.active {
    margin-left: 0;
}

#radio2:checked~.active {
    margin-left: -20%;
}

#radio3:checked~.active {
    margin-left: -40%;
}

#radio4:checked~.active {
    margin-left: -60%;
}

div #new {
    color: red;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 50px;
    text-align: center;
}

div img#logonew {
    margin-left: 300px;
    margin-top: -90px;
    animation: zoom 0.8s infinite;
}

img.slides {
    position: absolute;
    margin-left: 510px;
    margin-top: 465px;
    transition: transform 1s;
}

img.slides:hover {
    border: solid;
}

@keyframes zoom {
    25% {
        transform: rotate(30deg)
    }

    50% {
        transform: rotateY(30deg)
    }

    75% {
        transform: rotate(30deg)
    }

    100% {
        transform: rotateY(30deg)
    }
}